snippet tex "Include MathJax" i
/home/main/Documents/WebProjects/node_modules/mathjax/es5/tex-chtml.js
endsnippet

snippet init "Initialize" i
<!DOCTYPE html>
<html>
<head>
<script id="MathJax-script" async src="/home/main/Documents/WebProjects/node_modules/mathjax/es5/tex-chtml.js"></script>
</head>
$0
</html>
endsnippet
